In [326]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:90% !important; }</style>"))

# Count missing values

In [1]:
import pandas as pd

chunks = pd.read_csv('crunchbase-investments.csv',chunksize=5000,encoding = 'iso-8859-1')

mv_counts = []
for chunk in chunks:
    missing = len(chunk) - chunk.count()
    print(missing)    
    mv_counts.append(missing)

company_permalink            0
company_name                 0
company_category_code       52
company_country_code         0
company_state_code          53
company_region               0
company_city                64
investor_permalink           0
investor_name                0
investor_category_code    2557
investor_country_code      778
investor_state_code       1371
investor_region              0
investor_city              900
funding_round_type           0
funded_at                    0
funded_month                 0
funded_quarter               0
funded_year                  0
raised_amount_usd          653
dtype: int64
company_permalink            0
company_name                 0
company_category_code       51
company_country_code         0
company_state_code          43
company_region               0
company_city                45
investor_permalink           0
investor_name                0
investor_category_code    5000
investor_country_code      261
investor_state_code        714
investor_region              0
investor_city              313
funding_round_type           0
funded_at                    0
funded_month                 0
funded_quarter               0
funded_year                  0
raised_amount_usd          239
dtype: int64
company_permalink            0
company_name                 0
company_category_code       82
company_country_code         0
company_state_code          56
company_region               0
company_city                44
investor_permalink           0
investor_name                0
investor_category_code    5000
investor_country_code      271
investor_state_code        808
investor_region              0
investor_city              314
funding_round_type           0
funded_at                    0
funded_month                 0
funded_quarter               0
funded_year                  0
raised_amount_usd          221
dtype: int64
company_permalink            0
company_name                 0
company_category_code       57
company_country_code         0
company_state_code          36
company_region               0
company_city                44
investor_permalink           0
investor_name                0
investor_category_code    5000
investor_country_code      239
investor_state_code        714
investor_region              0
investor_city              274
funding_round_type           0
funded_at                    0
funded_month                 0
funded_quarter               0
funded_year                  0
raised_amount_usd          299
dtype: int64
company_permalink            0
company_name                 0
company_category_code       69
company_country_code         0
company_state_code          40
company_region               0
company_city                41
investor_permalink           0
investor_name                0
investor_category_code    5000
investor_country_code      352
investor_state_code       1116
investor_region              0
investor_city              434
funding_round_type           0
funded_at                    0
funded_month                 0
funded_quarter               0
funded_year                  0
raised_amount_usd          243
dtype: int64
company_permalink            0
company_name                 0
company_category_code       61
company_country_code         0
company_state_code          39
company_region               0
company_city                33
investor_permalink           0
investor_name                0
investor_category_code    5000
investor_country_code      218
investor_state_code        732
investor_region              0
investor_city              238
funding_round_type           0
funded_at                    0
funded_month                 0
funded_quarter               0
funded_year                  0
raised_amount_usd          206
dtype: int64
company_permalink            1
company_name                 1
company_category_code       88
company_country_code         1
company_state_code          35
company_region               1
company_city                42
investor_permalink           2
investor_name                2
investor_category_code    5000
investor_country_code      313
investor_state_code        922
investor_region              2
investor_city              339
funding_round_type           3
funded_at                    3
funded_month                 3
funded_quarter               3
funded_year                  3
raised_amount_usd          287
dtype: int64
company_permalink            0
company_name                 0
company_category_code       83
company_country_code         0
company_state_code          65
company_region               0
company_city                55
investor_permalink           0
investor_name                0
investor_category_code    5000
investor_country_code      267
investor_state_code        775
investor_region              0
investor_city              334
funding_round_type           0
funded_at                    0
funded_month                 0
funded_quarter               0
funded_year                  0
raised_amount_usd          368
dtype: int64
company_permalink            0
company_name                 0
company_category_code       75
company_country_code         0
company_state_code          50
company_region               0
company_city                50
investor_permalink           0
investor_name                0
investor_category_code    5000
investor_country_code     1432
investor_state_code       1787
investor_region              0
investor_city             1464
funding_round_type           0
funded_at                    0
funded_month                 0
funded_quarter               0
funded_year                  0
raised_amount_usd          324
dtype: int64
company_permalink            0
company_name                 0
company_category_code       15
company_country_code         0
company_state_code          46
company_region               0
company_city                70
investor_permalink           0
investor_name                0
investor_category_code    5000
investor_country_code     5000
investor_state_code       5000
investor_region              0
investor_city             5000
funding_round_type           0
funded_at                    0
funded_month                 0
funded_quarter               0
funded_year                  0
raised_amount_usd          469
dtype: int64
company_permalink            0
company_name                 0
company_category_code       10
company_country_code         0
company_state_code          29
company_region               0
company_city                45
investor_permalink           0
investor_name                0
investor_category_code    2870
investor_country_code     2870
investor_state_code       2870
investor_region              0
investor_city             2870
funding_round_type           0
funded_at                    0
funded_month                 0
funded_quarter               0
funded_year                  0
raised_amount_usd          290
dtype: int64

In [10]:
combined_mv_counts = pd.concat(mv_counts)
combined_mv_counts.groupby(combined_mv_counts.index).sum().sort_values(ascending=False)

investor_category_code    50427
investor_state_code       16809
investor_city             12480
investor_country_code     12001
raised_amount_usd          3599
company_category_code       643
company_city                533
company_state_code          492
funding_round_type            3
funded_year                   3
funded_month                  3
funded_at                     3
funded_quarter                3
investor_name                 2
investor_permalink            2
investor_region               2
company_region                1
company_permalink             1
company_name                  1
company_country_code          1
dtype: int64

# Using df.info() to explore missing values per column per chunk

In [41]:
import pandas as pd

chunks = pd.read_csv('crunchbase-investments.csv',chunksize=5000,encoding = 'iso-8859-1')
for chunk in chunks:
    print(chunk.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 20 columns):
company_permalink         5000 non-null object
company_name              5000 non-null object
company_category_code     4948 non-null object
company_country_code      5000 non-null object
company_state_code        4947 non-null object
company_region            5000 non-null object
company_city              4936 non-null object
investor_permalink        5000 non-null object
investor_name             5000 non-null object
investor_category_code    2443 non-null object
investor_country_code     4222 non-null object
investor_state_code       3629 non-null object
investor_region           5000 non-null object
investor_city             4100 non-null object
funding_round_type        5000 non-null object
funded_at                 5000 non-null object
funded_month              5000 non-null object
funded_quarter            5000 non-null object
funded_year               5000 non-null int64
raised_amount_usd         4347 non-null float64
dtypes: float64(1), int64(1), object(18)
memory usage: 781.3+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 5000 to 9999
Data columns (total 20 columns):
company_permalink         5000 non-null object
company_name              5000 non-null object
company_category_code     4949 non-null object
company_country_code      5000 non-null object
company_state_code        4957 non-null object
company_region            5000 non-null object
company_city              4955 non-null object
investor_permalink        5000 non-null object
investor_name             5000 non-null object
investor_category_code    0 non-null float64
investor_country_code     4739 non-null object
investor_state_code       4286 non-null object
investor_region           5000 non-null object
investor_city             4687 non-null object
funding_round_type        5000 non-null object
funded_at                 5000 non-null object
funded_month              5000 non-null object
funded_quarter            5000 non-null object
funded_year               5000 non-null int64
raised_amount_usd         4761 non-null float64
dtypes: float64(2), int64(1), object(17)
memory usage: 781.3+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 10000 to 14999
Data columns (total 20 columns):
company_permalink         5000 non-null object
company_name              5000 non-null object
company_category_code     4918 non-null object
company_country_code      5000 non-null object
company_state_code        4944 non-null object
company_region            5000 non-null object
company_city              4956 non-null object
investor_permalink        5000 non-null object
investor_name             5000 non-null object
investor_category_code    0 non-null float64
investor_country_code     4729 non-null object
investor_state_code       4192 non-null object
investor_region           5000 non-null object
investor_city             4686 non-null object
funding_round_type        5000 non-null object
funded_at                 5000 non-null object
funded_month              5000 non-null object
funded_quarter            5000 non-null object
funded_year               5000 non-null int64
raised_amount_usd         4779 non-null float64
dtypes: float64(2), int64(1), object(17)
memory usage: 781.3+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 15000 to 19999
Data columns (total 20 columns):
company_permalink         5000 non-null object
company_name              5000 non-null object
company_category_code     4943 non-null object
company_country_code      5000 non-null object
company_state_code        4964 non-null object
company_region            5000 non-null object
company_city              4956 non-null object
investor_permalink        5000 non-null object
investor_name             5000 non-null object
investor_category_code    0 non-null float64
investor_country_code     4761 non-null object
investor_state_code       4286 non-null object
investor_region           5000 non-null object
investor_city             4726 non-null object
funding_round_type        5000 non-null object
funded_at                 5000 non-null object
funded_month              5000 non-null object
funded_quarter            5000 non-null object
funded_year               5000 non-null int64
raised_amount_usd         4701 non-null float64
dtypes: float64(2), int64(1), object(17)
memory usage: 781.3+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 20000 to 24999
Data columns (total 20 columns):
company_permalink         5000 non-null object
company_name              5000 non-null object
company_category_code     4931 non-null object
company_country_code      5000 non-null object
company_state_code        4960 non-null object
company_region            5000 non-null object
company_city              4959 non-null object
investor_permalink        5000 non-null object
investor_name             5000 non-null object
investor_category_code    0 non-null float64
investor_country_code     4648 non-null object
investor_state_code       3884 non-null object
investor_region           5000 non-null object
investor_city             4566 non-null object
funding_round_type        5000 non-null object
funded_at                 5000 non-null object
funded_month              5000 non-null object
funded_quarter            5000 non-null object
funded_year               5000 non-null int64
raised_amount_usd         4757 non-null float64
dtypes: float64(2), int64(1), object(17)
memory usage: 781.3+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 25000 to 29999
Data columns (total 20 columns):
company_permalink         5000 non-null object
company_name              5000 non-null object
company_category_code     4939 non-null object
company_country_code      5000 non-null object
company_state_code        4961 non-null object
company_region            5000 non-null object
company_city              4967 non-null object
investor_permalink        5000 non-null object
investor_name             5000 non-null object
investor_category_code    0 non-null float64
investor_country_code     4782 non-null object
investor_state_code       4268 non-null object
investor_region           5000 non-null object
investor_city             4762 non-null object
funding_round_type        5000 non-null object
funded_at                 5000 non-null object
funded_month              5000 non-null object
funded_quarter            5000 non-null object
funded_year               5000 non-null int64
raised_amount_usd         4794 non-null float64
dtypes: float64(2), int64(1), object(17)
memory usage: 781.3+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 30000 to 34999
Data columns (total 20 columns):
company_permalink         4999 non-null object
company_name              4999 non-null object
company_category_code     4912 non-null object
company_country_code      4999 non-null object
company_state_code        4965 non-null object
company_region            4999 non-null object
company_city              4958 non-null object
investor_permalink        4998 non-null object
investor_name             4998 non-null object
investor_category_code    0 non-null float64
investor_country_code     4687 non-null object
investor_state_code       4078 non-null object
investor_region           4998 non-null object
investor_city             4661 non-null object
funding_round_type        4997 non-null object
funded_at                 4997 non-null object
funded_month              4997 non-null object
funded_quarter            4997 non-null object
funded_year               4997 non-null float64
raised_amount_usd         4713 non-null float64
dtypes: float64(3), object(17)
memory usage: 781.3+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 35000 to 39999
Data columns (total 20 columns):
company_permalink         5000 non-null object
company_name              5000 non-null object
company_category_code     4917 non-null object
company_country_code      5000 non-null object
company_state_code        4935 non-null object
company_region            5000 non-null object
company_city              4945 non-null object
investor_permalink        5000 non-null object
investor_name             5000 non-null object
investor_category_code    0 non-null float64
investor_country_code     4733 non-null object
investor_state_code       4225 non-null object
investor_region           5000 non-null object
investor_city             4666 non-null object
funding_round_type        5000 non-null object
funded_at                 5000 non-null object
funded_month              5000 non-null object
funded_quarter            5000 non-null object
funded_year               5000 non-null int64
raised_amount_usd         4632 non-null float64
dtypes: float64(2), int64(1), object(17)
memory usage: 781.3+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 40000 to 44999
Data columns (total 20 columns):
company_permalink         5000 non-null object
company_name              5000 non-null object
company_category_code     4925 non-null object
company_country_code      5000 non-null object
company_state_code        4950 non-null object
company_region            5000 non-null object
company_city              4950 non-null object
investor_permalink        5000 non-null object
investor_name             5000 non-null object
investor_category_code    0 non-null float64
investor_country_code     3568 non-null object
investor_state_code       3213 non-null object
investor_region           5000 non-null object
investor_city             3536 non-null object
funding_round_type        5000 non-null object
funded_at                 5000 non-null object
funded_month              5000 non-null object
funded_quarter            5000 non-null object
funded_year               5000 non-null int64
raised_amount_usd         4676 non-null float64
dtypes: float64(2), int64(1), object(17)
memory usage: 781.3+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 45000 to 49999
Data columns (total 20 columns):
company_permalink         5000 non-null object
company_name              5000 non-null object
company_category_code     4985 non-null object
company_country_code      5000 non-null object
company_state_code        4954 non-null object
company_region            5000 non-null object
company_city              4930 non-null object
investor_permalink        5000 non-null object
investor_name             5000 non-null object
investor_category_code    0 non-null float64
investor_country_code     0 non-null float64
investor_state_code       0 non-null float64
investor_region           5000 non-null object
investor_city             0 non-null float64
funding_round_type        5000 non-null object
funded_at                 5000 non-null object
funded_month              5000 non-null object
funded_quarter            5000 non-null object
funded_year               5000 non-null int64
raised_amount_usd         4531 non-null float64
dtypes: float64(5), int64(1), object(14)
memory usage: 781.3+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2870 entries, 50000 to 52869
Data columns (total 20 columns):
company_permalink         2870 non-null object
company_name              2870 non-null object
company_category_code     2860 non-null object
company_country_code      2870 non-null object
company_state_code        2841 non-null object
company_region            2870 non-null object
company_city              2825 non-null object
investor_permalink        2870 non-null object
investor_name             2870 non-null object
investor_category_code    0 non-null float64
investor_country_code     0 non-null float64
investor_state_code       0 non-null float64
investor_region           2870 non-null object
investor_city             0 non-null float64
funding_round_type        2870 non-null object
funded_at                 2870 non-null object
funded_month              2870 non-null object
funded_quarter            2870 non-null object
funded_year               2870 non-null int64
raised_amount_usd         2580 non-null float64
dtypes: float64(5), int64(1), object(14)
memory usage: 448.5+ KB
None

# Count Sizes of each column

In [74]:
import pandas as pd

chunks = pd.read_csv('crunchbase-investments.csv',chunksize=5000,encoding = 'iso-8859-1')

size_counts = []
for chunk in chunks:
    size_counts.append(chunk.memory_usage(deep=True))
size_counts

[Index                         80
 company_permalink         383495
 company_name              339562
 company_category_code     323227
 company_country_code      300000
 company_state_code        293569
 company_region            323122
 company_city              330557
 investor_permalink        425849
 investor_name             357211
 investor_category_code    239464
 investor_country_code     278216
 investor_state_code       257983
 investor_region           321792
 investor_city             300464
 funding_round_type        320619
 funded_at                 335000
 funded_month              320000
 funded_quarter            320000
 funded_year                40000
 raised_amount_usd          40000
 dtype: int64, Index                         84
 company_permalink         385724
 company_name              341880
 company_category_code     324922
 company_country_code      300000
 company_state_code        293839
 company_region            322512
 company_city              331356
 investor_permalink        493776
 investor_name             374250
 investor_category_code     40000
 investor_country_code     292692
 investor_state_code       275722
 investor_region           319407
 investor_city             321451
 funding_round_type        324109
 funded_at                 335000
 funded_month              320000
 funded_quarter            320000
 funded_year                40000
 raised_amount_usd          40000
 dtype: int64, Index                         84
 company_permalink         386604
 company_name              342740
 company_category_code     324125
 company_country_code      300000
 company_state_code        293488
 company_region            322962
 company_city              331108
 investor_permalink        495537
 investor_name             377527
 investor_category_code     40000
 investor_country_code     292412
 investor_state_code       273184
 investor_region           323431
 investor_city             321718
 funding_round_type        323953
 funded_at                 335000
 funded_month              320000
 funded_quarter            320000
 funded_year                40000
 raised_amount_usd          40000
 dtype: int64, Index                         84
 company_permalink         383819
 company_name              339366
 company_category_code     324533
 company_country_code      300000
 company_state_code        294028
 company_region            321739
 company_city              331643
 investor_permalink        493979
 investor_name             378027
 investor_category_code     40000
 investor_country_code     293308
 investor_state_code       275722
 investor_region           319948
 investor_city             321828
 funding_round_type        323667
 funded_at                 335000
 funded_month              320000
 funded_quarter            320000
 funded_year                40000
 raised_amount_usd          40000
 dtype: int64, Index                         84
 company_permalink         385597
 company_name              341665
 company_category_code     324222
 company_country_code      300000
 company_state_code        293920
 company_region            322349
 company_city              331557
 investor_permalink        500100
 investor_name             381486
 investor_category_code     40000
 investor_country_code     290144
 investor_state_code       264868
 investor_region           321474
 investor_city             315808
 funding_round_type        324374
 funded_at                 335000
 funded_month              320000
 funded_quarter            320000
 funded_year                40000
 raised_amount_usd          40000
 dtype: int64, Index                         84
 company_permalink         385909
 company_name              342204
 company_category_code     324040
 company_country_code      300000
 company_state_code        293947
 company_region            322665
 company_city              330636
 investor_permalink        506147
 investor_name             385760
 investor_category_code     40000
 investor_country_code     293896
 investor_state_code       275236
 investor_region           321776
 investor_city             321663
 funding_round_type        324196
 funded_at                 335000
 funded_month              320000
 funded_quarter            320000
 funded_year                40000
 raised_amount_usd          40000
 dtype: int64, Index                         84
 company_permalink         387306
 company_name              343035
 company_category_code     323091
 company_country_code      299976
 company_state_code        294060
 company_region            323757
 company_city              330730
 investor_permalink        498376
 investor_name             379054
 investor_category_code     40000
 investor_country_code     291236
 investor_state_code       270106
 investor_region           323101
 investor_city             317550
 funding_round_type        323919
 funded_at                 334895
 funded_month              319904
 funded_quarter            319904
 funded_year                40000
 raised_amount_usd          40000
 dtype: int64, Index                         84
 company_permalink         384633
 company_name              340456
 company_category_code     323123
 company_country_code      300000
 company_state_code        293245
 company_region            322477
 company_city              331661
 investor_permalink        487877
 investor_name             368200
 investor_category_code     40000
 investor_country_code     292524
 investor_state_code       274075
 investor_region           320365
 investor_city             319972
 funding_round_type        323556
 funded_at                 335000
 funded_month              320000
 funded_quarter            320000
 funded_year                40000
 raised_amount_usd          40000
 dtype: int64, Index                         84
 company_permalink         383917
 company_name              339888
 company_category_code     323353
 company_country_code      300000
 company_state_code        293650
 company_region            322564
 company_city              331985
 investor_permalink        468707
 investor_name             366986
 investor_category_code     40000
 investor_country_code     259904
 investor_state_code       246751
 investor_region           321307
 investor_city             281669
 funding_round_type        322438
 funded_at                 335000
 funded_month              320000
 funded_quarter            320000
 funded_year                40000
 raised_amount_usd          40000
 dtype: int64, Index                         84
 company_permalink         375372
 company_name              330821
 company_category_code     321887
 company_country_code      300000
 company_state_code        293758
 company_region            322421
 company_city              333178
 investor_permalink        387441
 investor_name             347347
 investor_category_code     40000
 investor_country_code      40000
 investor_state_code        40000
 investor_region           320000
 investor_city              40000
 funding_round_type        317509
 funded_at                 335000
 funded_month              320000
 funded_quarter            320000
 funded_year                40000
 raised_amount_usd          40000
 dtype: int64, Index                         84
 company_permalink         215412
 company_name              189709
 company_category_code     184581
 company_country_code      172200
 company_state_code        168547
 company_region            184997
 company_city              191495
 investor_permalink        222759
 investor_name             199818
 investor_category_code     22960
 investor_country_code      22960
 investor_state_code        22960
 investor_region           183680
 investor_city              22960
 funding_round_type        182367
 funded_at                 192290
 funded_month              183680
 funded_quarter            183680
 funded_year                22960
 raised_amount_usd          22960
 dtype: int64]

In [38]:
combined_size_counts=pd.concat(size_counts)
combined_size_counts.groupby(combined_size_counts.index).sum()/1024**2

Index                     0.000877
company_category_code     3.262619
company_city              3.343493
company_country_code      3.025223
company_name              3.424955
company_permalink         3.869808
company_region            3.253522
company_state_code        2.962161
funded_at                 3.378091
funded_month              3.226837
funded_quarter            3.226837
funded_year               0.403366
funding_round_type        3.252704
investor_category_code    0.593590
investor_city             2.751430
investor_country_code     2.524654
investor_name             3.734270
investor_permalink        4.749821
investor_region           3.238946
investor_state_code       2.361876
raised_amount_usd         0.403366
dtype: float64

In [40]:
combined_size_counts.sum()/1024**2

56.988446235656738

In [100]:
49271*8/2**20

0.37590789794921875

__Columns company_country_code,company_state_code,company_region are information that can be derived from company_city. Likewise for the corresponding investor columns__

In [67]:
# Drop columns representing URL's or containing way too many missing values (>90% missing)
drop_cols = ['investor_permalink', 'company_permalink', 'investor_category_code']
keep_cols = chunk.columns.drop(drop_cols)
keep_cols.tolist()

['company_name',
 'company_category_code',
 'company_country_code',
 'company_state_code',
 'company_region',
 'company_city',
 'investor_name',
 'investor_country_code',
 'investor_state_code',
 'investor_region',
 'investor_city',
 'funding_round_type',
 'funded_at',
 'funded_month',
 'funded_quarter',
 'funded_year',
 'raised_amount_usd']

In [199]:
pd.read_csv('crunchbase-investments.csv',encoding = 'iso-8859-1',low_memory=True).dtypes

C:\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

company_permalink          object
company_name               object
company_category_code      object
company_country_code       object
company_state_code         object
company_region             object
company_city               object
investor_permalink         object
investor_name              object
investor_category_code     object
investor_country_code      object
investor_state_code        object
investor_region            object
investor_city              object
funding_round_type         object
funded_at                  object
funded_month               object
funded_quarter             object
funded_year               float64
raised_amount_usd         float64
dtype: object

In [90]:
df['funded_year'].max(),df['funded_year'].min(),df['raised_amount_usd'].max(),df['raised_amount_usd'].min()

(2013.0, 1987.0, 3200000000.0, 1000.0)

In [130]:
import numpy as np 
np.iinfo('int16'),np.finfo('float16')

(iinfo(min=-32768, max=32767, dtype=int16),
 finfo(resolution=0.0010004, min=-6.55040e+04, max=6.55040e+04, dtype=float16))

In [172]:
# Key: Column name, Value: List of types
col_types = {}
chunk_iter = pd.read_csv('crunchbase-investments.csv', chunksize=5000, encoding='ISO-8859-1', names=keep_cols)

for chunk in chunk_iter:
    for col in chunk.columns:
        if col not in col_types:
            col_types[col] = [str(chunk.dtypes[col])]
        else:
            col_types[col].append(str(chunk.dtypes[col]))
col_types

{'company_category_code': ['object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object'],
 'company_city': ['object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object'],
 'company_country_code': ['object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object'],
 'company_name': ['object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object'],
 'company_region': ['object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object'],
 'company_state_code': ['object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object'],
 'funded_at': ['object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object'],
 'funded_month': ['object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object'],
 'funded_quarter': ['object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object'],
 'funded_year': ['object',
  'int64',
  'int64',
  'int64',
  'int64',
  'int64',
  'float64',
  'int64',
  'int64',
  'int64',
  'int64'],
 'funding_round_type': ['object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object'],
 'investor_city': ['object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'float64',
  'float64'],
 'investor_country_code': ['object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'float64',
  'float64'],
 'investor_name': ['object',
  'float64',
  'float64',
  'float64',
  'float64',
  'float64',
  'float64',
  'float64',
  'float64',
  'float64',
  'float64'],
 'investor_region': ['object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object'],
 'investor_state_code': ['object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'object',
  'float64',
  'float64'],
 'raised_amount_usd': ['object',
  'float64',
  'float64',
  'float64',
  'float64',
  'float64',
  'float64',
  'float64',
  'float64',
  'float64',
  'float64']}

In [175]:
uniq_col_types = {}
for k,v in col_types.items():
    uniq_col_types[k] = set(col_types[k])
uniq_col_types

{'company_category_code': {'object'},
 'company_city': {'object'},
 'company_country_code': {'object'},
 'company_name': {'object'},
 'company_region': {'object'},
 'company_state_code': {'object'},
 'funded_at': {'object'},
 'funded_month': {'object'},
 'funded_quarter': {'object'},
 'funded_year': {'float64', 'int64', 'object'},
 'funding_round_type': {'object'},
 'investor_city': {'float64', 'object'},
 'investor_country_code': {'float64', 'object'},
 'investor_name': {'float64', 'object'},
 'investor_region': {'object'},
 'investor_state_code': {'float64', 'object'},
 'raised_amount_usd': {'float64', 'object'}}

In [178]:
chunk.head()

                                     company_name company_category_code  \
/company/noovo   Noovo   web                  USA                    CA
/company/nuorder NuORDER fashion              USA                    CA
/company/chacha  ChaCha  advertising          USA                    IN
/company/binfire Binfire software             USA                    FL
                         software             USA                    FL

                                     company_country_code company_state_code  \
/company/noovo   Noovo   web                       SF Bay          Palo Alto
/company/nuorder NuORDER fashion              Los Angeles     West Hollywood
/company/chacha  ChaCha  advertising         Indianapolis             Carmel
/company/binfire Binfire software             Bocat Raton        Bocat Raton
                         software             Bocat Raton        Bocat Raton

                                               company_region  \
/company/noovo   Noovo   web              /person/morten-lund
/company/nuorder NuORDER fashion      /person/mortimer-singer
/company/chacha  ChaCha  advertising  /person/morton-meyerson
/company/binfire Binfire software         /person/moshe-ariel
                         software         /person/moshe-ariel

                                         company_city  investor_name  \
/company/noovo   Noovo   web              Morten Lund            NaN
/company/nuorder NuORDER fashion      Mortimer Singer            NaN
/company/chacha  ChaCha  advertising  Morton Meyerson            NaN
/company/binfire Binfire software         Moshe Ariel            NaN
                         software         Moshe Ariel            NaN

                                      investor_country_code  \
/company/noovo   Noovo   web                            NaN
/company/nuorder NuORDER fashion                        NaN
/company/chacha  ChaCha  advertising                    NaN
/company/binfire Binfire software                       NaN
                         software                       NaN

                                      investor_state_code investor_region  \
/company/noovo   Noovo   web                          NaN         unknown
/company/nuorder NuORDER fashion                      NaN         unknown
/company/chacha  ChaCha  advertising                  NaN         unknown
/company/binfire Binfire software                     NaN         unknown
                         software                     NaN         unknown

                                      investor_city funding_round_type  \
/company/noovo   Noovo   web                    NaN              angel
/company/nuorder NuORDER fashion                NaN           series-a
/company/chacha  ChaCha  advertising            NaN           series-b
/company/binfire Binfire software               NaN              angel
                         software               NaN              angel

                                       funded_at funded_month funded_quarter  \
/company/noovo   Noovo   web          2007-10-01      2007-10        2007-Q4
/company/nuorder NuORDER fashion      2012-10-01      2012-10        2012-Q4
/company/chacha  ChaCha  advertising  2007-10-01      2007-10        2007-Q4
/company/binfire Binfire software     2008-04-18      2008-04        2008-Q2
                         software     2010-01-01      2010-01        2010-Q1

                                      funded_year  raised_amount_usd
/company/noovo   Noovo   web                 2007           426960.0
/company/nuorder NuORDER fashion             2012          3060000.0
/company/chacha  ChaCha  advertising         2007         12000000.0
/company/binfire Binfire software            2008           500000.0
                         software            2010           750000.0

In [180]:
import sqlite3

conn = sqlite3.connect('crunchbase.db')
chunk_iter = pd.read_csv('crunchbase-investments.csv', chunksize=5000, encoding='ISO-8859-1')

for chunk in chunk_iter:
    chunk.to_sql("investments", conn, if_exists='append', index=False)

In [181]:
import sqlite3

with sqlite3.connect('crunchbase_with.db') as conn:
    chunk_iter = pd.read_csv('crunchbase-investments.csv', chunksize=5000, encoding='ISO-8859-1')

    for chunk in chunk_iter:
        chunk.to_sql("investments", conn, if_exists='append', index=False)

# Demonstrating internal byte chunking (instead of row chunking) making bottom half numbers str type. Changing to low_memory False will make all numbers string

In [211]:
from io import StringIO
df=pd.read_csv(StringIO('\n'.join([str(x) for x in range(1000000)] + ['a string'])),low_memory=True)
type(df.loc[524287,'0']),type(df.loc[524288,'0'])

C:\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(int, str)

# Column9(0-index) investor_category_code changes from object to float64 at 32769

In [257]:
chunk_iter = pd.read_csv('crunchbase-investments.csv', iterator = True, encoding='ISO-8859-1')
chunk_iter.get_chunk(32768).dtypes

company_permalink          object
company_name               object
company_category_code      object
company_country_code       object
company_state_code         object
company_region             object
company_city               object
investor_permalink         object
investor_name              object
investor_category_code     object
investor_country_code      object
investor_state_code        object
investor_region            object
investor_city              object
funding_round_type         object
funded_at                  object
funded_month               object
funded_quarter             object
funded_year                 int64
raised_amount_usd         float64
dtype: object

In [259]:
chunk_iter.get_chunk(1).dtypes

company_permalink          object
company_name               object
company_category_code      object
company_country_code       object
company_state_code         object
company_region             object
company_city               object
investor_permalink         object
investor_name              object
investor_category_code    float64
investor_country_code      object
investor_state_code        object
investor_region            object
investor_city              object
funding_round_type         object
funded_at                  object
funded_month               object
funded_quarter             object
funded_year                 int64
raised_amount_usd           int64
dtype: object

<h1>
<span style="color:red">DATA CLEANING INCOMPLETE! </span>
</h1>

In [310]:
q = '''
   SELECT SUM(raised_amount_usd)
   FROM
   (   
       SELECT raised_amount_usd from investments 
       ORDER BY raised_amount_usd DESC 
       LIMIT ((SELECT COUNT(*) FROM investments)/10)
    )
'''
conn = sqlite3.connect('crunchbase_with.db') 
pd.read_sql(q, conn)

   SUM(raised_amount_usd)
0            3.506537e+11

# Types of Companies that most commonly attract investments

In [286]:
q = '''
    SELECT company_category_code from investments
'''

conn = sqlite3.connect('crunchbase_with.db') 
df = pd.read_sql(q, conn)
df.company_category_code.value_counts().sort_values(ascending=False)

software            7243
web                 5015
biotech             4951
enterprise          4489
mobile              4067
advertising         3200
ecommerce           2168
cleantech           1948
games_video         1893
analytics           1863
hardware            1537
medical             1315
semiconductor       1292
network_hosting     1075
security             996
finance              931
social               920
education            783
health               670
public_relations     659
search               632
other                481
messaging            452
fashion              368
news                 363
travel               337
hospitality          331
manufacturing        310
music                287
consulting           233
photo_video          230
nanotech             216
real_estate          190
automotive           164
nonprofit            149
transportation       130
sports               121
legal                 87
design                55
pets                  43
local                 22
government            10
2/7/08                 1
Name: company_category_code, dtype: int64

# Investor that contributed the most across all startups

In [294]:
q = '''
    SELECT investor_name, sum(raised_amount_usd) from investments
    group by investor_name
    order by 2 desc
'''

conn = sqlite3.connect('crunchbase_with.db') 
pd.read_sql(q, conn)

,investor_name,sum(raised_amount_usd)
0,Kleiner Perkins Caufield & Byers,1.121783e+10
1,New Enterprise Associates,9.692542e+09
2,Accel Partners,6.472126e+09
3,Goldman Sachs,6.375459e+09
4,Sequoia Capital,6.039402e+09
5,Intel,5.969200e+09
6,Google,5.808800e+09
7,Time Warner,5.730000e+09
8,Comcast,5.669000e+09
9,Greylock Partners,4.960983e+09
10,BrightHouse,4.700000e+09
11,Intel Capital,4.695617e+09
12,Draper Fisher Jurvetson (DFJ),4.501461e+09
13,Oak Investment Partners,4.350065e+09
14,Andreessen Horowitz,4.233674e+09
15,Lightspeed Venture Partners,4.140979e+09
16,Benchmark,4.119949e+09
17,Battery Ventures,4.054532e+09
18,Redpoint Ventures,3.974377e+09
19,Bessemer Venture Partners,3.628705e+09
20,Khosla Ventures,3.570409e+09
21,US Venture Partners,3.520820e+09
22,Venrock,3.353220e+09
23,General Catalyst Partners,3.266554e+09
24,DAG Ventures,3.262943e+09
25,Menlo Ventures,3.235161e+09
26,VantagePoint Capital Partners,3.113077e+09
27,Canaan Partners,2.990852e+09
28,Digital Sky Technologies,2.921807e+09
29,Institutional Venture Partners,2.906762e+09
...,...,...
10436,Virgo Capital,NaN
10437,Vishal Gondal,NaN
10438,Vision Ridge Capital,NaN
10439,Visma,NaN
10440,Vista Equity Partners,NaN
10441,Vistage International,NaN
10442,Waynn Lue,NaN
10443,Weld North,NaN
10444,Wenceslao Casares,NaN
10445,WestMill Capital,NaN
10446,William C. Norris Institute at the University ...,NaN
10447,William Stefani,NaN
10448,Wynnchurch Capital,NaN
10449,XMI High Growth Fund,NaN
10450,Xanthas Creative Industries,NaN
10451,YellowBot,NaN
10452,Yellowstone Energy Ventures,NaN
10453,Yoni Saban,NaN
10454,Young Sohn,NaN
10455,Ziegler HealthVest Partners,NaN
10456,"Zinah Ventures, LLC",NaN
10457,Ziver Birg,NaN
10458,ZoomInfo,NaN
10459,b-to-v Partners AG,NaN
10460,for; to (do),NaN
10461,glendonTodd Capital,NaN
10462,iCamp,NaN
10463,iTACTIC,NaN
10464,mike schell,NaN
10465,venturecapital.de,NaN

# Investors who contributed the most per startup

In [296]:
q = '''
    SELECT company_name,investor_name,max(raised_amount_usd) from investments
    group by company_name
    order by 3 desc
'''

conn = sqlite3.connect('crunchbase_with.db') 
pd.read_sql(q, conn)

,company_name,investor_name,max(raised_amount_usd)
0,Clearwire,BrightHouse,3.200000e+09
1,sigmacare,Marlin Equity Partners,2.600000e+09
2,Facebook,Digital Sky Technologies,1.500000e+09
3,Wave Broadband,GI Partners,1.050000e+09
4,AOL,Google,1.000000e+09
5,Groupon,Andreessen Horowitz,9.500000e+08
6,University of Maryland,Siemens PLM Software,7.500000e+08
7,"Vivint, Inc.",Goldman Sachs,5.650000e+08
8,Solyndra,U.S. Department of Energy,5.350000e+08
9,Fisker Automotive,U.S. Department of Energy,5.290000e+08
10,Zynga,Fidelity Investments,4.900000e+08
11,Tesla Motors,U.S. Department of Energy,4.650000e+08
12,Bloom Energy,Kleiner Perkins Caufield & Byers,4.500000e+08
13,SurveyMonkey,Google,4.500000e+08
14,Abound Solar,U.S. Department of Energy,4.000000e+08
15,LivingSocial,Amazon,4.000000e+08
16,Twitter,DST Global,4.000000e+08
17,NextG Networks,Accel Partners,3.601000e+08
18,Better Place,Morgan Stanley,3.500000e+08
19,Kosmos Biotherapeutics,Apple Ventures,3.190000e+08
20,SunGard,GE Capital,3.160000e+08
21,Barnes & Noble,Microsoft,3.000000e+08
22,Nanosolar,Beck Energy,3.000000e+08
23,Nook Media,Microsoft,3.000000e+08
24,The Generations Network,Spectrum Equity,3.000000e+08
25,ZeniMax,Providence Equity Partners,3.000000e+08
26,Brightstar,Lindsay Goldberg,2.830000e+08
27,Legendary Entertainment,Accel Partners,2.750000e+08
28,LightSquared,Harbinger Capital Partners,2.650000e+08
29,Uber,Google Ventures,2.580000e+08
...,...,...,...
11544,gripNote,Plug & Play Ventures,NaN
11545,iCracked,SV Angel,NaN
11546,iCreate,Kaplan Early Learning Group,NaN
11547,iQ Media Corp,GMH Ventures,NaN
11548,iVillage,Hearst Ventures,NaN
11549,imbookin (Pogby),ARC Angel Fund,NaN
11550,imgIX,SV Angel,NaN
11551,imo instant messenger,Georges Harik,NaN
11552,inDplay,Eric Schmidt,NaN
11553,inFreeDA,Hummer Winblad Venture Partners,NaN
11554,inSparq.com,Massimiliano Pellegrini,NaN
11555,invisibleBracelet.org,Philip B. Smith,NaN
11556,lark,Fenox Venture Capital,NaN
11557,mo9 (moKredit),Sequoia Capital,NaN
11558,mobiTeris,RRE Ventures,NaN
11559,mobintent,Techstars,NaN
11560,my4oneone,Susan Dahl,NaN
11561,myEnergyPlatform.com,Chiranjeev Bordoloi,NaN
11562,myZamana,Gabriell Weinberg,NaN
11563,rag & bone,Irving Place Capital,NaN
11564,relocality,The Iron Yard,NaN
11565,series-c+,None,NaN
11566,tsumobi,XG Ventures,NaN
11567,vSocial,Roger Ehrenberg,NaN
11568,vcopious Software,Silicon Valley Bank,NaN
11569,viaCycle,Start Fund,NaN
11570,weeSpring,Techstars,NaN
11571,writewith,Y Combinator,NaN
11572,xG Technology,"Blooston, Mordkofsky, Dicken, Duffy & Prendergast",NaN
11573,zuuka!,venturecapital.de,NaN

# Funding round type popularity by count and raised amount

In [325]:
q = '''
    SELECT funding_round_type, count(*), sum(raised_amount_usd) from investments
    group by funding_round_type
    order by 2 desc
'''

conn = sqlite3.connect('crunchbase_with.db') 
pd.read_sql(q, conn)

  funding_round_type  count(*)  sum(raised_amount_usd)
0           series-a     13938            8.654215e+10
1          series-c+     10870            2.657535e+11
2              angel      8989            4.962075e+09
3            venture      8917            1.305565e+11
4           series-b      8794            1.283268e+11
5              other       964            1.850726e+10
6     private-equity       357            1.615988e+10
7           post-ipo        33            3.091760e+10
8       crowdfunding         5            6.491500e+06
9               None         3                     NaN